.recommend {
    margin-bottom: 0px;
    padding-top: 40px;
    padding-right: 16px;
    padding-bottom: 72px;
    padding-left: 16px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.left h2 {
    margin-bottom: 7px;
    line-height: 1.2;
    text-align: left;
    color: '#171D2E';
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.left p {
    line-height: 1.6;
    text-align: left;
    color: '#3A3E4A'
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.slider {
    margin: 32px 0 10px;
}

.card {
    border-radius: 2px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #F5F6F9;
    margin-inline: 10px;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.name {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    color: #171D2E;
}

.commentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.comment {
    font-size: 14px;
    line-height: 1.3;
    color: #3A3E4A;
}

.blank {
    width: 266px;
    height: 64px;
}

  
  .slider .slick-slide > div {
    padding: 0 12px; /* half of gap */
  }

  .slick-dots li button:before {
    font-size: 12px;
    color: #DDDEE1; /* Unselected color */
    opacity: 1 !important; /* Full opacity */
  }
  
  .slick-dots li.slick-active button:before {
    color: #E48822; /* Active color */
    opacity: 1 !important; /* Full opacity */
  }
  .slick-list .slick-track .slick-slide > div {
    width: 95% !important;
  }
    
  