.FAQ {
    background-color: #fff;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
}

.FAQ h2 {
    font-style: normal;
    font-weight: 700 !important;
    font-size: clamp(1.5rem, 1.3929rem + 0.4762vw, 1.75rem);
    font-weight: 500;
    line-height: 1.2;
    margin-block: 24px;
    color: #171D2E;
    text-align: left;
    text-transform: uppercase;
}

@media (max-width: 780px) {
    .FAQ h2 {
        text-align: center;
    }
}